{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block section %}
<div class="flex items-center space-x-4">
    
    <p class="text-3xl font-bold text-gray-600">Course</p>
    <!-- Text with Box Leading to a Link -->
    <a href="{% url 'create_course' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full flex items-center space-x-2">
        <span>Teach</span>
    </a>
    <a href = "{% url 'bitesize' %}">
        <p class="text-base text-gray-600">Bitesize</p>
    </a>
    <a href="{% url 'forum' %}">
        <p class="text-base text-gray-600">Forum</p>
    </a>
</div>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-4">
        {% for course in courses %}
            <a href="{% url 'course' pk=course.id %}" class="col-span-2 bg-white rounded-lg shadow-lg p-4 hover:bg-gray-100 flex space-x-3"> 
                <!-- Thumbnail -->
                <div class="h-24 w-24 bg-gray-200 rounded-md">
                    <!-- Replace with an actual image tag if thumbnails are available -->
                    <img src="{{ course.thumbnail.url }}" alt="{{ course.title }}" class="h-full w-full object-cover rounded-md"> 
                </div>

                <!-- Title and Description -->
                <div>
                    <!-- Title -->
                    <h1 class="text-lg font-bold text-black">{{ course.title }}</h1>

                    <!-- Description (if available) -->
                    {% if course.description %}
                        <p class="text-sm text-gray-600">{{ course.description }}</p>
                    {% endif %}
                </div>
            </a>
        {% empty %}
            <p class="col-span-5">No courses available.</p>
        {% endfor %}
    </div>
{% endblock %}




