
{% extends 'core/base.html' %}

{% block title %} Update Profile {% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Update Profile</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_description" class="block mb-2 text-lg">Description</label>
            {{ form.description }}
        </div>

        <div class="mb-4">
            <label for="id_profile_pic" class="block mb-2 text-lg">Profile Picture</label>
            {{ form.profile_pic }}
        </div>
        <br><br>
        <button type="submit" class="py-3 px-6 bg-teal-500 hover:bg-teal-700 text-white text-lg rounded-xl">Update Profile</button>
    </form>
</div>
{% endblock %}