{% extends 'core/base.html' %}

{% block title %}Create {% endblock %}

{% block section %}
<div class="flex items-center space-x-4">
    <div class="bg-pink-300 p-2 rounded-md">
        <p class="text-white font-bold text-lg">Creator Mode</p>
    </div>  
    <p class="text-3xl font-bold text-gray-600">Course </p>
</div>
{% endblock %}

{% block content %}
<div class="flex space-x-2">
    <a href="{% url 'create_chapter' pk=course.id %}">
        <p class="text-3xl font-bold text-gray-600">{{ course.title }}</p>
    </a>
    <a href="{% url 'create_page' pk=course.id chapter_pk=chapter.id %}">
        <p class="text-3xl font-bold text-gray-600">| {{ chapter.title }}</p>
    </a>
    <a href="#">
        <p class="text-3xl font-bold text-gray-600">| {{ page.title }}</p>
    </a>
</div>
<br>
<br>

<div class="flex justify-center">

    <!-- Box for Creating an Article -->
    <a href="{% url 'create_article_course' pk=course.id chapter_pk=chapter.id page_pk=page.id %}" class="box-link">
        <div class="box bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-lg">
            Create Article
        </div>
    </a>

    <!-- Box for Creating a Video -->
    <a href="{% url 'create_video_course' pk=course.id chapter_pk=chapter.id page_pk=page.id %}" class="box-link">
        <div class="box bg-green-600 hover:bg-green-700 text-white font-bold rounded-lg">
            Create Video
        </div>
    </a>

    <!-- Box for Creating an Image -->
    <a href="{% url 'create_image_course' pk=course.id chapter_pk=chapter.id page_pk=page.id %}" class="box-link">
        <div class="box bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-lg">
            Create Image
        </div>
    </a>

    <!-- Box for Creating an Image -->
    <a href="#" class="box-link">
        <div class="box bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-lg">
            From Save
        </div>
    </a>

</div>

<style>
    /* CSS styles for the square boxes and centering */
    .box-link {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .box {
        width: 150px; /* Adjust the size as needed */
        height: 150px; /* Make the boxes square */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

</style>
{% endblock %}