{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block section %}
<div class="flex items-center space-x-4">
    <a href="{% url 'courses' %}">
    <p class="text-base text-gray-600">Course</p>
    </a>
    <p class="text-3xl font-bold text-gray-600">Bitesize</p>
    <!-- Text with Box Leading to a Link -->
    
    {% if user.is_authenticated %}
    <a href="{% url 'create' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full flex items-center space-x-2">
        <span>Create</span>
    </a>
    {% else %}
    <a href="{% url 'login' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full flex items-center space-x-2">
        <span>Create</span>
    </a>
    {% endif %}
    <a href="{% url 'forum' %}">
        <p class="text-base text-gray-600">Forum</p>
    </a>
</div>
{% endblock %}

{% block content %}
    <div class="flex flex-col items-center">
        
            <!-- Container with aspect ratio -->
            <div class="aspect-w-9 aspect-h-16 w-2/5 mb-4 bg-gray-200 relative">
                {% if current_content %}
                    

                    {% if current_content.0.image_file %}
                        
                        <!-- Display image content -->
                        <img src="{{ current_content.0.image_file.url }}" alt="{{ current_content.0.title }}" class="rounded-md w-full h-auto">

                        <h1 class="text-2xl font-semibold mb-4">Explanation</h1>
                        {% if current_content.0.explanation %}
                            <h1>{{ current_content.0.explanation }}</h1>
                        {% endif %}
                        <br>
                        <a href="{% url 'user_profile' pk=current_content.0.user.id %}" class="flex items-center space-x-3">
                            {% if current_content.0.creator.Profile.profile_pic %}
                            <img src="{{ current_content.0.user.Profile.profile_pic.url }}" alt="{{ current_content.0.user.username }}" class="w-10 h-10 rounded-full"> <!-- Profile Picture -->
                            {% endif %}
                            <h1 class="text-lg font-semibold">by: <strong>{{ current_content.0.user.username }}</strong></h1> <!-- Larger Text -->
                        </a>
                    
                    {% elif current_content.0.content %}
                        <h1><strong>{{ current_content.0.title }}</strong></h1>
                        <!-- Display article content -->
                        <p>{{ current_content.0.content }}</p>
                        <br>
                        <a href="{% url 'user_profile' pk=current_content.0.user.id %}" class="flex items-center space-x-3">
                            {% if current_content.0.creator.Profile.profile_pic %}
                            <img src="{{ current_content.0.user.Profile.profile_pic.url }}" alt="{{ current_content.0.user.username }}" class="w-10 h-10 rounded-full"> <!-- Profile Picture -->
                            {% endif %}
                            <h1 class="text-lg font-semibold">by: <strong>{{ current_content.0.user.username }}</strong></h1> <!-- Larger Text -->
                        </a>

                    {% elif current_content.0.comment %}
                        <!-- Display question content -->
                        <h1 class="text-2xl font-semibold mb-4">Question</h1>
                        <br>
                        <p>{{ current_content.0.content_object.question_text }}</p>
                        <br>
                        <!-- Video player adjusted to fit container size -->
                        <br>
                        <h1 class="text-2xl font-semibold mb-4">Answer</h1>
                        <video class="w-full h-full" controls="controls">
                            <source src="{{current_content.0.comment.url}}" type="video/mp4" />
                        </video>
                        <a href="{% url 'user_profile' pk=current_content.0.creator.id %}" class="flex items-center space-x-3">
                            {% if current_content.0.creator.Profile.profile_pic %}
                            <img src="{{ current_content.0.creator.Profile.profile_pic.url }}" alt="{{ current_content.0.creator.username }}" class="w-10 h-10 rounded-full"> <!-- Profile Picture -->
                            {% endif %}
                            <h1 class="text-lg font-semibold">Answered by: <strong>{{ current_content.0.creator.username }}</strong></h1> <!-- Larger Text -->
                        </a>


                    {% elif current_content.0.video_file %}
                        
                        <!-- Video player adjusted to fit container size -->
                        <video class="w-full h-full" controls="controls">
                            <source src="{{current_content.0.video_file.url}}" type="video/mp4" />
                        </video>

                        {% if current_content.0.explanation %}
                            <h1>{{ current_content.0.explanation }}</h1>
                        {% endif %}
                        <a href="{% url 'user_profile' pk=current_content.0.user.id %}" class="flex items-center space-x-3">
                            {% if current_content.0.creator.Profile.profile_pic %}
                            <img src="{{ current_content.0.user.Profile.profile_pic.url }}" alt="{{ current_content.0.user.username }}" class="w-10 h-10 rounded-full"> <!-- Profile Picture -->
                            {% endif %}
                            <h1 class="text-lg font-semibold">by: <strong>{{ current_content.0.user.username }}</strong></h1> <!-- Larger Text -->
                        </a>
                    
                    {% endif %}
            </div>

            <!-- Navigation buttons below the player -->
            <div class="flex justify-between w-2/5">
                <a href="{% if current_content.has_previous %}?page={{ current_content.previous_page_number }}{% else %}?page=1{% endif %}" class="bg-blue-500 text-white px-4 py-2 rounded {% if not current_content.has_previous %}hidden{% endif %}">Previous</a>
                <a href="{% if current_content.has_next %}?page={{ current_content.next_page_number }}{% else %}?page=1{% endif %}" class="bg-green-500 text-white px-4 py-2 rounded {% if not current_content.has_next %}hidden{% endif %}">Next</a>
            </div>

            <button class="like-button"
                data-content-type="{{ content_type }}"
                data-object-id="{{ object_id }}"
                data-liked="{% if liked %}True{% else %}False{% endif %}">
                {% if liked %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>

            <!-- Display Like Count -->
            <span id="like-count">{{ content.likes.count }}</span>

        
            <button class="save-button"
                data-content-type="{{ content_type }}"
                data-object-id="{{ object_id }}"
                data-liked="{% if saved %}True{% else %}False{% endif %}">
                {% if saved %}
                    saved
                {% else %}
                    save
                {% endif %}
            </button>

        <!-- Comment Form -->
        <div class="w-2/5 mt-8">
            <h2 class="text-xl font-semibold mb-4">Add Comment</h2>

            
             {% if user.is_authenticated %}
            <form id="comment-form">
                {% csrf_token %}
                <textarea name="comment" required rows="4" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 shadow-sm" placeholder="Enter your Comment..."></textarea>
                <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50">
                    Submit Comment
                </button>
                
            </form>
            {% else %}
            <!-- Content to be displayed if the user is not authenticated -->
            <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">create an account</a> to like and comment.</p>
            {% endif %}

            <br>
            <br>

            <div id="comments-container">
                <!-- Comments will be rendered here -->
            </div>
    
            </div>
        </div>

    </div>

    {% else %}
    <p class="text-lg text-gray-500">No content available.</p>
{% endif %}

{% endblock %}







