{% extends 'core/base.html' %}

{% block title %}Create Image | Bitesize{% endblock %}

{% block section %}
    <p class="text-lg font-bold text-gray-600">Bitesize Create</p>
{% endblock %}

{% block content %}
<div class="flex space-x-2">
    <a href="{% url 'create_chapter' pk=course.id %}">
        <p class="text-3xl font-bold text-gray-600">{{ course.title }}</p>
    </a>
    <a href="{% url 'create_page' pk=course.id chapter_pk=chapter.id %}">
        <p class="text-3xl font-bold text-gray-600">| {{ chapter.title }}</p>
    </a>
    <a href="{% url 'page' pk=course.id chapter_pk=chapter.id page_pk=page.id %}">
        <p class="text-3xl font-bold text-gray-600">| {{ page.title }}</p>
    </a>
</div>
<br>
<br>

<div class="container mx-auto px-4 py-6">
    <div class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6">
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}

            <div>
                <label for="id_title" class="block text-sm font-medium text-gray-700">Title</label>
                <input type="text" name="title" id="id_title" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Enter article title">
            </div>

            <div>
                <label for="id_image_file" class="block text-sm font-medium text-gray-700">Image File</label>
                <input type="file" name="image_file" id="id_image_file" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            <div>
                <label for="id_explanation" class="block text-sm font-medium text-gray-700">explanation</label>
                <textarea name="explanation" id="id_explanation" rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Write your article content here"></textarea>
            </div>

            <div>
                <label for="bitesizable_checkbox" class="block text-sm font-medium text-gray-700">Bitesizable</label>
                <input type="checkbox" id="bitesizable_checkbox" name="bitesizable" class="border-gray-300 rounded shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            </div>

            <div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create Article</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}